@media only screen and (min-width: 895px) {
    html {
        background-image: url('../images/site/checkerboard.jpg');
    }
    body {
        max-width: 60rem;
        border: #4C96D7;
        border-style: solid;
        border-radius: 5px;
        margin-top: 10px;
    }
    div.content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
    section.upgrades {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 5px;
    }
    section.reviews {
        grid-column: 2/3;
    }
    .button {
        position: absolute;
        top: 140px;
        left: 16px;
    }
    button {
        font-size: 15px;
        width: 7rem;
        height: 2rem;
    }
    .delorean-attributes {
        font-size: 19px;
    }
    h1.greeting {
        font-size: 1.8rem;
    }
    h2.attributes {
        font-size: 1.5rem;
    }
    .reviews h2, .upgrades h2 {
        font-size: 1.7rem;
    }
    form {
        max-width: 700px;
    }
}