@media only screen and (max-width: 894px) and (min-width: 650px) {
    html {
        background-image: url('../images/site/checkerboard.jpg');
    }
    body {
        max-width: 45rem;
        border: #4C96D7;
        border-style: solid;
        border-radius: 5px;
        margin-top: 10px;
    }
    div.content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
    }
    section.upgrades {
        grid-column: 1/2;
        grid-row: 1/2;
        padding: 3px;
    }
    section.reviews {
        grid-column: 2/3;
    }
    .button {
        position: absolute;
        top: 125px;
        left: 16px;
    }
    button {
        font-size: 13px;
        width: 5.5rem;
        height: 2rem;
    }
    .delorean-attributes {
        font-size: 18px;
    }
    h1.greeting {
        font-size: 1.6rem;
    }
    h2.attributes {
        font-size: 1.3rem;
    }
    .reviews h2, .upgrades h2 {
        font-size: 1.5rem;
    }
    form {
        max-width: 600px;
    }
}